/****************************Public**************************/

* {
    margin: auto;
    direction: rtl;
    font-family: IRANSans, sans-serif;
}

root {
    --text-color: #333;
    --d-font-size: 12px
}

body {
    margin-bottom: 30px;
}

/***********************Useful****************************/

.yellow {
    color: #fbe804;
}

.dark {
    color: #333333;
}

.d-none {
    display: none;
}

.no-underline {
    text-decoration: none;
}

.vertical-align > * {
    vertical-align: middle;
}

.inline-child > * {
    display: inline-block;
}

.enable-color {
    color: red;
}

.disable-color {
    color: grey;
}

.chart-content {
    text-align: center;
    margin: 3rem 20px 30px 20px;
    padding-top: 10px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 15px;
    box-shadow: 1px 2px 8px 0 #9493934d;
}

/***********************************Custom***************************/


.header {
    background-color: white;
    padding: 5px 20px 5px 20px;
    box-shadow: 0 2px 6px 0 #00000021;
}

.title-header {
    display: block;
    margin: 10px 0;

}

.title-header > a {
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.span-title-header {
    font-size: 15px;
    color: var(--text-color);
}

.field-symbol-name {
    width: 20%;
}

.field-days {
    width: 5%;
    text-align: center;
    padding: 0 !important;
    font-weight: bold;
}

.field {
    height: 45px;
    border-radius: 10px;
    background-color: #f2f3f480;
    color: var(--text-color);
    border: none;
    padding: 0 20px 0 10px;
    font-size: 15px;
}

.field:focus {
    outline: 0 solid white;
}

.btn-search {
    width: 10%;
    height: 45px;
    border-radius: 3px;
    color: white;
    background-color: #2196f3;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
}

.filter-box {
    margin: 10px 0 5px 0;
}

.filter-title {
    font-size: 20px;
    border-left: 2px dashed #d0d0d0;
    padding-left: 20px;
}

.label-checkbox {
    font-size: 15px;
    color: grey;
}

.checkbox {
    vertical-align: middle;
}

.checkbox-content {
    padding: 10px 8px 10px 8px;
    border-radius: 10px;
}

.checkbox-content:hover {
    background-color: #f2f3f480;
}


.content {
    margin-top: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.btn-box {
    margin: 0;
    text-align: left;
}

.btn-tsetmc {
    background-color: #2196f3;
    padding: 10px 20px !important;
    font-size: 15px;
    margin: 10px 0 0 20px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;

}


.title-content {
    margin: 10px 10px 0 0;
    text-align: right;
}

.title-content > h1 {
    font-size: 30px;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
}

.note-content {
    border-right: 5px solid #2196f3;
    background-color: #2196f317;
    border-radius: 10px 0 0 10px;
    margin-top: 20px;
    margin-right: 10px !important;
    text-align: right;
    width: 20%;
    font-size: var(--d-font-size);
    padding: 10px 5px 10px 0;
    color: var(--text-color);
}

.table {
    border-collapse: collapse;
    margin-top: 3rem;
}

.loading-section {
    padding-top: 20vh;
    text-align: center;
}

table, th, td {
    border: 1px solid #d8d8d8;
}

.table-header {
    background-color: #2196f3;
    color: white;
}

.table-row {
    font-size: 15px;
    font-weight: normal;
}

.table-row {
    padding: 10px 20px;
    text-align: center;
}


/**********************Custom btn**********************/

.btn-with-ripple {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    padding: 0 16px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.btn-with-ripple::-moz-focus-inner {
    border: none;
}

/* Overlay */
.btn-with-ripple::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2196f3;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.btn-with-ripple::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: white;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Active */
.btn-with-ripple:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.btn-with-ripple:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/**********************Custom btn**********************/
